name: CI - Build on push

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  call-reusable-build:
    uses: ./.github/workflows/reusable-android-build.yml
    with:
      upload_artifacts: true
    secrets: inherit
